{{ define "main" }}

  <h2>{{ .Title }}</h2>

  <h3>{{ dateFormat "2006-01-02" .Date }}</h3>

  <p>
    {{ .Description | markdownify }}
  </p>

  <p>
    <a href="https://www.meetup.com/Cleveland-UseR-Group/events/{{ .Params.id }}/" target="_blank">
      Event on meetup.com
    </a>
  </p>

  {{ with .Params.videos }}
    <h3>Videos</h3>
    <ul>
      {{ range . }}
        <li>
          <a href="/videos/{{ lower . }}/">{{ . }}</a>
        </li>
      {{ end }}
    </ul>
  {{ end }}

{{ end }}
